body,
html {
  height: 70%;
  width: 70%;
  margin: 0;
  padding: 0;
  background: #e74c3c;
}

.search {
  margin-bottom: auto;
  margin-top: auto;
  height: 70px;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  border: 3px solid black;
  display: flex;
}

button {
  border: none;
  background-color: white;
}

.search_input {
  color: rgb(239, 12, 12);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search .search_input {
  padding: 0 10px;
  width: 550px;
  caret-color: rgb(247, 245, 245);
  transition: width 0.4s linear;
}

.search:hover > .search_icon {
  background: red;
  color: #050505;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(245, 226, 15);
  background-color: rgb(0, 0, 0);
}

a:link {
  text-decoration: none;
}
.container {
  margin-bottom: 1em;
  margin-top: 1em;
}
.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
