.FichaPokemon{
    margin: 10em;
    width: 50%
}
.Titulo{
    text-align: center;
    border: 1px solid black;
    width:100%;
    padding: 0.5em;
}
.arriba{
    border: 1px solid black; 
    align-items: left;
    background:rgb(234, 250, 241 );
    text-align: center;
    width: 100%;
}
.abajo{
    border: 1px solid black; 
    align-items:left;
}
li {
    list-style: none;
    
}